@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

:root {
    --blue : #2a2185;
    --blue-dark: #00246b;
    --blue-light: #cadcfc;
    --white: #ffffff;
    --grey : #4d4d4d;
    --primary : #00246b;
    --success : #006b04;
    --warning : #FFEB3B;
    --danger : #F44336;
    --black-dark : #000000;
    --border-radius-1: 35px;
}

body {
    background-color: var(--blue-light);
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
}




/* =============================================Navigation aside starts=================================== */

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    border-left: 10px solid var(--blue-dark);
    transition: 0.5s;
    overflow: hidden;
    background-color: var(--blue-dark);
}

.navigation.active {
    width: 80px;
}

.listOfMenus {
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.listOfMenus .listItem {
    border-top-left-radius: var(--border-radius-1);
    border-bottom-left-radius: var(--border-radius-1);
    margin-left: 2px;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    
}

.listOfMenus .listItem button {
    display: flex;
    font-size: 1.1rem;
    column-gap: 20px;
    padding: 20px 20px;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    border: #00246b 2px;
    background: none;
    cursor: pointer;
    font-weight: 500;
}

.listOfMenus .listItem:hover,
.listOfMenus .listItem.active{
    background-color: var(--white);
}

.listOfMenus .listItem:hover button,
.listOfMenus .listItem.active button {
    color: var(--blue-dark);
}

.listOfMenus .listItem:first-child {
    margin-bottom: 35px;
    pointer-events: none;
}

.listOfMenus .listItem:last-child {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.listOfMenus .listItem button span.icon {
    font-size: 30px;
}


/* ===================================main section starts==================== */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    padding: 0 25px;
    min-height: 100vh;  
    overflow-y: auto; 
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
    transition: 0.5s;
}

/* =====================================top search container starts================================ */
.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}

.topContainer span.menuIcon{
    font-size: 2.5rem;;
    cursor: pointer;
    color: var(--blue-dark);
}

.topContainer .searchContainer{
    position: relative;
    min-width: 50%;
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.searchContainer .searchIcon{
    font-size: 1.7rem;
    position: absolute;
    left:18px;
}

.searchContainer .searchBar{
    padding: 10px 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    border-color:gray;
    width: 100%;
    font-weight: 500;
}

.profilePhoto .circularPhoto{
    padding: 10px;
    background-color: var(--blue-dark);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.profilePhoto .circularPhoto:hover{
    box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 1);
}


.tablesContainer.invisible{
    display: none;
}

/* ==============================paging starts============= */
#page1.invisible,
#page2.invisible,
#page3.invisible,
#page4.invisible,
#page0.invisible

{
    display: none;
}



/* =================================tablesContainer starts============================= */
.tablesContainer{
    margin:30px 10px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 15px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--blue-dark) var(--white);
    scrollbar-width: 30px; 
    position: relative;
    display: block;
}

.tablesContainer h2{
    margin-top: 30px;
}


span.addBtn:hover{
    color: var(--white);
    background-color: var(--blue-dark);
    transform: scale(1.1);
}

.entityTable{
    margin-top: 35px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    transition: 1s ease-out;
    position: relative;
    border: 1px solid var(--primary);
    border-radius: 10px;
    white-space: nowrap;
    
}

.entityTable .addBtn{
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: -65px;
    right: 5px;
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.entityTable thead th{
    font-weight: 600;
    padding: 20px;
    text-align: left;
    pointer-events: none;
}

.entityTable  tr td,
.entityTable thead th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    padding: 10px;
    text-align: left;
}

.entityTable td:last-child,
.entityTable th:last-child
{

    text-align: right;
}

.entityTable tr:last-child {
    border-bottom: none;
  }

.entityTable tr:hover{
    background-color: var(--blue-dark);
    color: var(--white);
}

.Del-icon{
    font-size: 1.5rem;
    color: var(--danger);
    text-align: left;
    cursor: pointer;
    margin-right: 5px;
}
.cancelBtn{
    font-size: .8rem;
    color: var(--danger);
    background: none;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 10px;
    text-align: right;
    border: none;
}

.cancelBtn:hover{
    font-weight: 800;
    transform: scale(1.1);
}

.update-btn{
    font-size: 1.5rem;
    color: var(--black-dark);
    text-align: right;
    cursor: pointer;
}

.entityTable tr:hover .update-btn{
    color: var(--warning);
}


.entityTable .statusBox .success{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--black-dark);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.entityTable .statusBox .danger{
    padding: 2px 4px;
    color: var(--danger);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    background-color: var(--warning);
}

.entityTable .feedbackInsideTable {
    max-width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.entityTable .feedbackInsideTable:hover {
    white-space: normal;
    max-width: 300px;
    text-align: left
    ;;
}


/* =====================================filters of vehicle page starts========================== */

.filterContainer{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 20px;
    padding: 10px;
}

.filterContainer .inputContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;

}

.filterContainer .inputContainer input,
.filterContainer .inputContainer select
{
    background: none;
    background-color: var(--white);
    padding: 4px ;
    border-radius: 8px;
    border: 1px solid var(--grey);
    width: 150px;
}

.filterBtn{
    padding: 5px 10px;
    background-color: var(--white);
    color: var(--blue-dark);
    border-radius: 10px;
    max-width: 150px;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--blue-dark);
}

.filterBtn:hover{
    color: var(--white);
    background-color: var(--blue-dark);
}



/* ================cardContainer================= */
.cardContainer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));;
    row-gap: 20px;
    column-gap: 15px;
    margin:25px 0;
    overflow: hidden;
    max-width: 100%; 
    flex-wrap: nowrap;
}

.cardContainer.invisible{
    display: none;
}

.mainVehicleCard{
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    ;
    max-width: 350px;
}

.mainVehicleCard img{
    border-radius: 15px;
    width: 100%;
    height: 180px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}


.detailsContainer{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    row-gap: 25px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;
}

.detailsContainer .nameBlock{
    display: flex;
    flex-direction: column;

}

.nameBlock h5{
    color: gray;
}
.detailsContainer .iconBlock{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 5px;
    color: var(--grey);
    flex-wrap: wrap;
}


.iconBlock .iconInnerBox{
    display: flex;
    column-gap: 4px;
}

.iconInnerBox span{
    font-weight: 700;
}

.iconInnerBox div{
    font-weight: 500;
}

.detailsContainer .lowerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.detailsContainer .lowerBox .pricePerDay{
    color: var(--blue-dark);
}

.detailsContainer .lowerBox .selectBtn{
    background-color: var(--success);
    color: var(--white);
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 0.8rem;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid var(--success);
    z-index: 10;

}

.detailsContainer .lowerBox .selectBtn:hover{
    color: var(--success);
    background-color: var(--white);
    border: 1px solid var(--success);
}





/* ========================== Specific Vehicle Details info page ======================4 */
/* =====================vehicleContainer================== */

#vehicleContainer.invisible{
    display: none;
}

.mainDetailsContainer{
    display: flex;
    width: 100%;
    padding: 30px;
    column-gap: 25px;
    background-color: var(--white);
    border-radius: 15px;

}

.mainDetailsContainer .vehicleImg{
    border-radius: 25px;
    width: 50%;
}


.mainDetailsContainer .sideDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
    width: 100%;
}

.mainDetailsContainer .vehicleName{
    font-weight: 700;
    font-size: 1.4rem;
}

.mainDetailsContainer .vehicleModel{
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 800;
}

.mainDetailsContainer .vehicleIconBlock{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    font-size: 0.8rem ;
    font-weight: 500;
}

.mainDetailsContainer .iconInnerBox{
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.mainDetailsContainer .vehiclePrice{
    font-size: 1.8rem;
    color: var(--blue-dark);
    font-weight: 700;
}

.mainDetailsContainer .vehiclePrice span{
    color: var(--grey);
    font-size: 0.9rem;
}

.mainDetailsContainer .btnContainer{
    display: flex;
    align-items: center;
    gap: 25px;
}

.mainDetailsContainer .bookingBtn{
    padding: 5px;
    background-color: var(--success);
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    border-radius: 10px;
    max-width: 200px;
    cursor: pointer;
}

.mainDetailsContainer .bookingBtn:hover{
    color: var(--success);
    background-color: var(--white);
}

.mainDetailsContainer .reviewBtn{
    padding: 5px 10px;
    background-color: var(--blue-dark);
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    border-radius: 10px;
    max-width: 200px;
    cursor: pointer;
}

.mainDetailsContainer .reviewBtn:hover{
    color: var(--blue-dark);
    background-color: var(--white);
}


/* =======================booking form ==================== */
.formContainer{
    background-color: var(--blue-dark);
    color: var(--white);
    border-radius: 25px;
    padding: 50px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.formContainer .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    text-transform: capitalize;
    
}

.bookingForm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 25px;
    font-weight: 600;
    justify-content: space-between;
}

.bookingForm .inputBox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    width: 100%;
    max-width: 450px;
    padding: 0 10px;
}

.bookingForm input,
.bookingForm select{
    outline: none;
    border: none;
    background-color: #cadcfc;
    min-width: 220px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1rem;
     border-radius: 25px;
     cursor: pointer;
}

.bookingForm input:read-only{
    cursor: not-allowed;
}

.formContainer .lowerBlock{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

.formContainer .lowerBlock .totalPriceBlock{
    display: flex;
    align-items: center;
    column-gap: 15px;;;
    font-weight: 500;
    font-size: 1.4rem;
}

.totalPriceBlock .totalPriceBooking{
    font-weight: 800;
    color: var(--warning);
}

.finalBookBtn{
    padding: 10px 35px;
    color: var(--success);
    background-color: var(--white);;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight:700;
    border-radius: 12px;
    cursor: pointer;
    transition: transform .5s ;
}

.finalBookBtn:hover{
    transform: scale(1.1);
}


.finalReviewBtn{
    padding: 5px 15px;
    color: var(--success);
    background-color: var(--white);
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight:700;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .5s ;
    max-width: 200px;
    margin-top: 25px;
   
}

.finalReviewBtn:hover{
    color: var(--white);
    background-color: var(--success);
}








/* ========================Profile Container styles======================== */
.profileContainer .userFormContainer{
    margin: 0 auto; 
    background-color: var(--blue-dark);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.profileContainer .heading{
    text-align: center;
    color: var(--blue-dark);
    margin: 15px 0;;
}

.profileContainer .userForm{
    width: 100%;
    display: grid;
    gap: 20px 30px;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    
}

.profileContainer .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileContainer .userForm label{
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 600;
    padding:10px;
    width: max-content;
    white-space: nowrap; 
}

.profileContainer .userForm input,
.profileContainer .userForm select{
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-bottom: 1px dashed var(--white);
    width: 100%;
    background: whitesmoke;
    border-radius: 15px;
    width: 100%;
    padding: 5px 15px;
    color:var(--black-dark);
    font-weight: 500;
}

.profileContainer .userForm input:read-only{
    cursor: not-allowed;
}


.profileContainer .userForm  input.editable {
    background-color: #fff;
    border: 1px solid var(--blue-light);
    cursor: text;
}


.profileContainer .editBtn{
    cursor: pointer;
    min-width: 40%;
    max-width: 80%;
    padding: 10px 30px;
    margin: 0 auto;
    background: none;
    background-color: var(--white);
    color: var(--blue-dark);
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    transition: transform 1s;
}

.profileContainer .editBtn.saveChanges{
    background-color: var(--success);
    color: #cadcfc;
}

.profileContainer .editBtn:hover{
    background-color: var(--blue-dark);
    color: var(--white);
    border: 2px solid var(--white);
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 1);
}



/* ===============================Home page stars==================== */
#frontView{
    position: relative;
    background-image: url(../src/main/resources/images/homePageTopImage.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 100% 60%;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

#frontView::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432); 
    z-index: 1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

#frontView .insiderText{
    display: flex;
    flex-direction: column;
    row-gap: 20px;;
    max-width: 400px;
    margin-left: 100px;
    z-index: 2;
}
.insiderText h1{
    color: var(--white);
}

.insiderText h1 span{
    color: var(--warning);
}
.sublines{
    display: flex;
    column-gap: 15px;
    font-weight: 500;
    align-items: center;
    
}

.sublines span{
    color: var(--warning);
    font-weight: 800;
}

.sublines .subText {
    color: white;
}


.exploreVehicles{
    padding: 5px 10px;
    font-size: 1.1rem;
    background: none;
    border: none;
    color: var(--blue-dark);
    background-color: var(--white);
    max-width: 200px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    ;;;
}

.exploreVehicles:hover{
    
    background-color: var(--blue-dark);
    color: var(--white);
}


/* ---------------review section starts------------ */
.reviewSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
    padding: 50px 0 90px 0;
    background: var(--white);;

}

.reviewSection h1{
    color: var(--blue-dark);
}

.reviewSection .ratingStars{
    font-family: "Material Symbols Rounded";
    font-variation-settings:
    'FILL' 1, 
    'wght' 400, 
    'GRAD' 0, 
    'opsz' 24;
    color: gold;
    text-align: center;

    
}

.reviewRow{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 30px;
    max-width: 100%;
    padding: 0 20px;

}

.cardReview{
    padding: 5px 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    width: 150px;
    position: relative;
}

.feedback{
    font-size: 0.8rem;
    line-height: 19px;
    bottom: 0;
    font-weight: 500;
    text-align:justify;
    
}

.reviewerName{
    font-size: 0.8rem;;
    text-align: right;
    color: var(--grey);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}


/* -----------------------Best Car section----------------- */
.newlyAddedSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
    padding: 50px 0 90px 0;
    background: var(--blue-dark);
}

.newlyAddedSection h1{
    color: var(--white);
}


.newlyAddedRow{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        row-gap: 20px;
        column-gap: 15px;
        margin: 25px 0;
        max-width: 100%;
        flex-wrap: nowrap;
}
.newlyAddedRow .mainVehicleCard{
    max-width: 250px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;
    margin: 25px 0;
}

.newlyAddedRow .mainVehicleCard img{
    border-radius: 15px;
    width: 100%;
    height: 180px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}


.newlyAddedRow .detailsContainer{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    row-gap: 25px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;
}

.newlyAddedRow .detailsContainer .nameBlock{
    display: flex;
    flex-direction: column;
    
}
.newlyAddedRow .detailsContainer .nameBlock h3{
    width: 17ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.newlyAddedRow .nameBlock h5{
    color: gray;
}
.newlyAddedRow .detailsContainer .iconBlock{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 5px;
    color: var(--grey);
}


.newlyAddedRow .iconBlock .iconInnerBox{
    display: flex;
    column-gap: 4px;
}

.newlyAddedRow .iconInnerBox span{
    font-weight: 700;
}

.newlyAddedRow .iconInnerBox div{
    font-weight: 500;
}

.newlyAddedRow .detailsContainer .lowerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    
}
.newlyAddedRow .detailsContainer .lowerBox .pricePerDay{
    white-space: nowrap;
    color: var(--blue-dark);
}

.newlyAddedRow .detailsContainer .lowerBox .selectBtn{
    background-color: var(--success);
    color: var(--white);
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    border: 1px solid var(--success);
    z-index: 10;

}

.newlyAddedCarRow .detailsContainer .lowerBox .selectBtn:hover{
    color: var(--success);
    background-color: var(--white);
    border: 1px solid var(--success);
}

/* ----------------styles specific to newly added bikes---------------- */
.newlyAddedBikeSection{
    background-color: var(--white);
}

.newlyAddedBikeSection h1{
    color: var(--blue-dark);
}

.newlyAddedRow .mainVehicleCard{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 4px dashed var(--primary);  
}



/* Responsive design implementation starts ------- media query   -----------1
 */

 @media (max-width: 1024px) {

    .bookingForm {
        grid-template-columns: 1fr;
    }

    .bookingForm .inputBox {
        max-width: none;
        padding: 0 50px;
    }

    #frontView .insiderText {
        margin-left: 30px;
    }

    .mainDetailsContainer .reviewBtn {
        font-size: 1rem;
        white-space: nowrap;
    }

    .mainDetailsContainer .bookingBtn {
        padding: 5px 12px;
        font-size: 1rem;
        white-space: nowrap;
    }

    .mainDetailsContainer .vehiclePrice {
        font-size: 1.5rem;
    }
}



/* -----------------------------------------768---------------------------------- */

@media (max-width: 768px) {
    .navigation{
        width: 80px;
        ;
    }

    .main{
        left: 80px;
        width: 100%;
    }

    .bookingForm .inputBox {
        max-width: none;
        padding: 0;
    }

    .formContainer .lowerBlock {
        align-items: center;
        row-gap: 25px;
    }

    .finalBookBtn {
        padding: 8px 15px;
        font-size: 1.3rem;
    }
    
    .formContainer .lowerBlock .totalPriceBlock {
        font-size: 1.2rem;
    }


    .bookingForm .inputBox{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        max-width: none;
    }

    .bookingForm input,
    .bookingForm select{
        min-width: 220px;
        font-size: 1rem;
        width: 100%;
    }

    /* ---------specific vehicle ----------------- */
    .mainDetailsContainer {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    .mainDetailsContainer .vehicleImg {
        border-radius: 25px;
        width: 100%;
    }

  
}


@media (max-width : 430px){
    .main{
        padding: 10px;
    }
    .profileContainer .userFormContainer{
        margin-bottom: 25px;
    }
    .profileContainer .userForm{
        gap: 5px;
        grid-template-columns: 1fr;
    }
    .profileContainer .editBtn {
        
        max-width: none;
        padding: 5px 10px;
        font-size: 1rem;
    }
    .profileContainer .userForm label {
        font-size: 1rem;
    }
    .profileContainer .userForm input, .profileContainer .userForm select {
        font-size: 1.1rem;
        padding: 5px 15px;
        font-weight: 500;
    }



    /* ----home page------ */
    #frontView .insiderText {
        row-gap: 10px;
        max-width: 400px;
        margin-left: 20px;
        z-index: 2;
    }

    #frontView::before {
        background-color: rgba(0, 0, 0, .55);
    }

    .insiderText h1 span {
        color: var(--warning);
    }

    .reviewRow{
        row-gap: 15px;
    }

    .newlyAddedRow .mainVehicleCard {
        margin: 10px 0;
    }

    /* ---------specific vehicle page ---------- */
    .mainDetailsContainer {
        padding: 20px;
    }

    .mainDetailsContainer .btnContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }

    .formContainer {
        padding: 15px;
    }

    .formContainer .lowerBlock {
        flex-direction: column;
    }

}

/* ---------320px -------------- */

@media (max-width : 320px){

    .main{
        padding: 0;
    }
    .mainDetailsContainer .btnContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 10px;
    }

    .mainDetailsContainer .bookingBtn {
        width: 100%;
    }

    .mainDetailsContainer .reviewBtn {
        width: 90%;
    }

    .formContainer {
        padding: 10px;
    }

    .profileContainer .userFormContainer {
        margin: 25px 15px;
    }
}
  




