@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

:root {
    --blue : #2a2185;
    --blue-dark: #00246b;
    --blue-light: #cadcfc;
    --white: #ffffff;
    --grey : #4d4d4d;
    --primary : #00246b;
    --success : #006b04;
    --warning : #FFEB3B;
    --danger : #F44336;
    --black-dark : #000000;
    --border-radius-1: 35px;
}

body {
    background-color: var(--blue-light);
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
}


/* =============================================Navigation aside starts=================================== */

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    border-left: 10px solid var(--blue-dark);
    transition: 0.5s;
    overflow: hidden;
    background-color: var(--blue-dark);
    /* padding: 10px 0; */
}

.navigation.active {
    width: 80px;
  }
  

.listOfMenus {
    color: var(--white);
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
}

.listOfMenus .listItem {
    border-top-left-radius: var(--border-radius-1);
    border-bottom-left-radius: var(--border-radius-1);
    margin-left: 2px;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    /* border-top-right-radius: 15px; */
    /* border-bottom: 1px solid none; */
    /* transition: all .6s ; */
}

.listOfMenus .listItem button {
    display: flex;
    font-size: 1.1rem;
    column-gap: 20px;
    padding: 20px 20px;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    /* transition: .6s ease-in; */
    /* justify-content: center; */
    border: #00246b 2px;
    background: none;
    cursor: pointer;
    font-weight: 500;
}

.listOfMenus .listItem:hover,
.listOfMenus .listItem.active{
    background-color: var(--white);
}

.listOfMenus .listItem:hover button,
.listOfMenus .listItem.active button {
    color: var(--blue-dark);
}

.listOfMenus .listItem:first-child {
    margin-bottom: 35px;
    pointer-events: none;
}

.listOfMenus .listItem:last-child {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.listOfMenus .listItem button span.icon {
    font-size: 30px;
}


/* ===================================main section starts==================== */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    padding: 0 25px;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
    transition: 0.5s;
}

/* =====================================top search container starts================================ */
.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}

.topContainer span.menuIcon{
    font-size: 2.5rem;;
    cursor: pointer;
    color: var(--blue-dark);
}

.topContainer .searchContainer{
    position: relative;
    min-width: 50%;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    /* border: none; */
}

.searchContainer .searchIcon{
    font-size: 1.7rem;
    position: absolute;
    left:18px;
}

.searchContainer .searchBar{
    padding: 10px 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    border-color:gray;
    width: 100%;
    font-weight: 500;
}

.profilePhoto .circularPhoto{
    padding: 10px;
    background-color: var(--blue-dark);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.profilePhoto .circularPhoto:hover{
    box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 1);
}



/* =================================tablesContainer starts============================= */
.tablesContainer{
    margin:30px 10px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 15px;
    overflow-x: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--blue-dark) var(--white);
    scrollbar-width: 30px; 
    position: relative;
    /* display: flex;
    flex-direction: column; */
    /* flex-wrap: wrap; */
    /* row-gap: 500px; */
    /* scrollbar-color: var(--black-dark); */
}

.tablesContainer h2{
    margin-top: 30px;
}


span.addBtn:hover{
    color: var(--white);
    background-color: var(--blue-dark);
    transform: scale(1.1);
}

.entityTable{
    margin-top: 35px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    transition: 1s ease-out;
    position: relative;
    border: 1px solid var(--primary);
    border-radius: 10px;
    white-space: nowrap;
    
}

.entityTable .addBtn{
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: -65px;
    right: 5px;
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.entityTable thead th{
    font-weight: 600;
    padding: 20px;
    text-align: left;
    pointer-events: none;
}

.entityTable  tr td,
.entityTable thead th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    padding: 10px;
    text-align: left;
}

.entityTable td:last-child,
/* .entityTable td:nth-last-child(2), */
.entityTable th:last-child
/* .entityTable th:nth-last-child(2) */
{

    text-align: right;
}

.entityTable tr:last-child {
    border-bottom: none;
  }

.entityTable tr:hover{
    background-color: var(--blue-dark);
    color: var(--white);
}

/* .entityTable tbody,
.entityTable thead{
    text-align: left;

} */

.Del-icon{
    font-size: 1.5rem;
    color: var(--danger);
    text-align: left;
    cursor: pointer;
    margin-right: 5px;


}

.update-btn{
    font-size: 1.5rem;
    color: var(--black-dark);
    text-align: right;
    cursor: pointer;
}

.entityTable tr:hover .update-btn{
    color: var(--warning);
}


.entityTable .statusBox .success{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--black-dark);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.entityTable .statusBox .danger{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.filterContainer{
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.filterContainer .inputContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;

}

.filterContainer .inputContainer input,
.filterContainer .inputContainer select
{
    background: none;
    background-color: var(--white);
    padding: 4px ;
    border-radius: 8px;
}

.filterBtn{
    padding: 5px 10px;
    background-color: var(--white);
    color: var(--blue-dark);
    border-radius: 10px;
    max-width: 150px;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    
}

.filterBtn:hover{
    color: var(--white);
    background-color: var(--blue-dark);
}



/* ================cardContainer================= */
.cardContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 15px;
    margin-top: 25px;
}

.mainVehicleCard{
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 300px;
    /* row-gap: 15px; */
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    row-gap: 25px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;
    /* margin-left: 25px; */
}
.detailsContainer img{
    border-radius: 15px;
}

.detailsContainer .nameBlock{
    display: flex;
    flex-direction: column;
    /* gap: px; */
}

.nameBlock h5{
    color: gray;
}
.detailsContainer .iconBlock{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 5px;
    color: var(--grey);
    /* background-color: #000000;    */
}


.iconBlock .iconInnerBox{
    display: flex;
    column-gap: 4px;
}

.iconInnerBox span{
    font-weight: 700;
}

.iconInnerBox div{
    font-weight: 500;
}

.detailsContainer .lowerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detailsContainer .lowerBox .pricePerDay{
    color: var(--blue-dark);
}

.detailsContainer .lowerBox .selectBtn{
    background-color: var(--success);
    color: var(--white);
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 0.8rem;
    margin-right: 10px;

}
